@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

body {
    font-family: 'Fira Mono', monospace;
    font-size: 12px;
    margin: 2rem auto 10rem auto;
    max-width: 560px
}

strong {
    font-weight: normal;
    color: #FFFFFF;
}

.header-image {
    width: 100%;
    border-radius: 4px;
}

#terminal_container p {
    line-height: 1.4rem;
}

#terminal_container a {
    color: #EEE;
    text-decoration: none;
}

#terminal_container a:hover {
    color: #FFF;
    text-decoration: underline;
}

#terminal_container .location-title {
    margin-top: 2rem;
    color: #7FDBFF;
}

#terminal_submit {
    display: none;
}

#terminal_input {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 0.4rem;
    border: none;
    border-radius: 4px;
    font-family: 'Fira Mono', monospace;
}

#terminal_input:focus {
    outline: 0;
}
